html, body {
  margin: 0;
  padding: 0;
  hyphens: auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  text-align: center;
  color: #2c3e50;
}

.gmap {
  height: 75vh;
  width: 100%;
}

.static-footer-text {
  width: 100%;
  text-align: center;
}
